@model SHS.Models.ViewModels.AgentViewModel

<partial name="~/Views/Shared/Components/_Alert.cshtml"/>
<div class="px-5 py-5">
    <form action="/Agent/Edit" enctype="multipart/form-data" method="POST">
        <!-- 姓名 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">姓名</label>
            <div class="col-sm-6">
                <input class="form-control" asp-for="Name" value="@Model.Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <!-- 身份證字號 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">身份證字號</label>
            <div class="col-sm-6">
                <input class="form-control" asp-for="IdNo" value="@Model.IdNo" readonly />
                <span class="text-danger" asp-validation-for="IdNo"></span>
            </div>
        </div>
        <!-- 業務員編號 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">業務員編號</label>
            <div class="col-sm-6">
                <input class="form-control" asp-for="AgentNo" value="@Model.AgentNo" />
                <span class="text-danger" asp-validation-for="AgentNo"></span>
            </div>
        </div>
        <!-- 生日 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">生日</label>
            <div class="col-sm-6">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" asp-for="Dob" value="@Model.Dob" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- 電子信箱 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">電子信箱</label>
            <div class="col-sm-6">
                <input class="form-control" asp-for="Email" value="@Model.Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <!-- 電話 -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">行動電話</label>
            <div class="col-sm-6">
                <input class="form-control" asp-for="CellPhone" value="@Model.CellPhone" />
                <span class="text-danger" asp-validation-for="CellPhone"></span>
            </div>
        </div>
        <div class="btn-group mt-3" role="group">
            <button type="submit" class="btn btn-success">修改</button>
            <button type="button" class="btn btn-danger modal-close">取消</button>
        </div>
    </form>
</div>

<partial name="~/Views/Shared/Scripts/_DatepickerScripts.cshtml" />
<partial name="~/Views/Shared/Scripts/_ValidationScripts.cshtml" />
<partial name="~/Views/Shared/Scripts/_ModalScripts.cshtml" />
